
<table id="playlists" class="display" data-source="<%= account_url(format: "json") %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
