<div class="comments-container">
  <%= form_tag(playlist_allowed_users_path(playlist_id: playlist.id), remote: true, method: :post) do -%>
    <div><%= email_field_tag "email" %></div>
    <div><%= submit_tag "Save" %></div>
  <% end -%>
</div>
